body {
    overflow: hidden;
    font-family: "Oswald";
}

h1 {
    margin: 0;
    font-weight: lighter;
}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 24%;
    min-width: 150px;
    list-style: none;
}

img {
    width: 100%;
    max-width: 150px;
}

.full-screen {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.row {
    margin: 0;
    width: 100%;
}

.anchor {
    font-size: 0.9rem;
    text-decoration: none;
    color: inherit;
    position: absolute;
    left: 10px;
    vertical-align: middle;
    font-weight: lighter;
    line-height: 2.5rem;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid black;
}

.breath {
    -webkit-animation: breath 1s ease-in infinite alternate;
}

@-webkit-keyframes breath {
    from {
        width: 40px;
        height: 40px;
    }

    to {
        width: 35px;
        height: 35px;
    }
}

.circle-wrapper {
    padding-top: 30vh;
}

#loader {
    background-color: white;
    z-index: 20;
    transition: top 2s;
}

#salutation {
    background-color: rgb(245, 215, 110);
    color: rgb(255, 244, 207);
    font-size: 10rem;
    z-index: 10;
    opacity: 1;
    transition: opacity 2s;
}

#main {
    overflow-x: hidden;
    overflow-y: scroll;
}

.text {
    font-size: 1.4rem;
    font-family: sans-serif;
}

.sentence > p {
    margin: 0;
    padding-top: 40px;
    font-weight: lighter;
    font-size: 2.3rem;
}

.sentence a {
    color: inherit;
    text-decoration: none;
}

.sentence a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .sentence {
        height: 600px;
    }
}

@media (min-width: 361px) and (max-width: 600px) {
    .sentence {
        height: 500px;
    }
}

@media (min-width: 601px) {
    .sentence {
        height: 400px
    }
}

.separator {
    height: 8px;
}

.sentence.first {
    color: #4ECDC4;
}

.separator.first {
    background-color: #4ECDC4;
}

.sentence.first > p {
    margin-bottom: 30px;
}

.separator.second {
    box-shadow: 0 -5px 5px rgba(216, 216, 216, 0.67);
    background-color: #FF6B6B;
}

.sentence.third {
    color: #FF6B6B;
    min-height: 250px;
    height: 93vh;
}

.stack {
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.arrow {
    position: absolute;
    right: 40px;
}

#button-contact {
    border-radius: 5px;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #1abc9c;
    border: 0;
    border-bottom: 2px solid #12ab8d;
    cursor: pointer;
    box-shadow: inset 0 -2px #12ab8d;
}

#button-contact:active {
    top: 1px;
    outline: none;
    box-shadow: none;
}

#contact__links {
    padding-top: 30px;
    margin: auto;
}

#contact__links > li {
    font-size: 2rem;
    width: 100%;
    display: block;
}