body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

h1, h2 {
    margin: 0;
    font-weight: lighter;
    text-align: center;
}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

li {
    margin: 0;
    padding: 0;
    min-width: 150px;
    list-style: none;
}

img {
    height: 100px;
}

.full-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#salutation.hidden {
    display: none;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid black;
}

.breath {
    -webkit-animation: breath 1s ease-in infinite alternate;
}

@-webkit-keyframes breath {
    from {
        width: 40px;
        height: 40px;
    }

    to {
        width: 35px;
        height: 35px;
    }
}

.circle-wrapper {
    padding-top: 30vh;
    text-align: center;
}

#loader {
    background-color: white;
    z-index: 20;
    transition: top 1s;
}

#salutation {
    background-color: rgb(245, 215, 110);
    color: rgb(255, 244, 207);
    font-size: 10rem;
    z-index: 10;
    opacity: 1;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#main {
    margin: auto;
    max-width: 600px;
    padding-top: 80px;
}

#main h1 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 80px;
}

.card {
    background-color: white;
    border: 1px #D4D4D4 solid;
    border-radius: 3px;
    margin-bottom: 80px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.card header {
    padding-top: 40px;
    width: 100%;
}

.card p {
    padding-top: 30px;
}

.stack {
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

#my-picture {
    border-radius: 1000px;
    display: inline-block;
    background-image: url(http://i.imgur.com/Lh1tXSR.jpg);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

#contact-links {
    width: 50%;
}

.block {
    border: 1px #D4D4D4 solid;
    border-radius: 3px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.block:last-child {
    margin-bottom: 0;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column p {
    align-self: top;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-color: #401818;
}

.slabtexted .slabtext {
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
}
.slabtextinactive .slabtext {
    display:inline;
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
}
.slabtextdone .slabtext {
    display:block;
}