@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400);

body {
  font-family: 'Josefin Sans', sans-serif;

  p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
  }
}

.table {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  width: 70%;
  margin: 0 auto;
}

.label-name, .label-ruby, .label-clojure {
  color: #ff54b0;
}

.label-city, .label-rails {
  color: #24ffd1;
}

.label-csharp, .label-linux {
  color: #9ac2ff;
}

.label-ember {
  color: #f39c12;
}

section {
  font-family: 'Josefin Sans', sans-serif;
  color: white;

  .table {
    width: 100%;
    margin-bottom: 0;
  }

  .navigation {
    padding-top: 10px;

    .logo {
      margin-left: 10%;
      margin-right: 20px;

      img {
      	width: 60px;
      }
    }

    .navbar {
      margin-bottom: 0;
    }

    .navlabel {
      font-weight: bold;
      font-size: 1.4em;
      padding-left: 20px;
    }

    .nav {
      margin-right: 10%;
      float: right;
    }

    li {
      width: 100px;
      text-align: center;
    }
  }

  .content {
    height: 100%;
    padding-top: 80px;
  }

  &#marketing {
    background-color: rgb(52, 73, 94);

    .selected {
      border-bottom: thick solid rgb(98, 140, 177);
    }

    .content {
      background: url('city_lausanne_night_dark_blue.jpg') no-repeat center;
      background-size: cover;
      text-align: center;
      padding-top: 40px;

      img {
        width: 60%;
        max-width: 500px;
        min-width: 300px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  &#about {
    background-color: rgb(26, 188, 156);

    .selected {
      border-bottom: thick solid rgb(36, 255, 209);
    }

    .content {
      background: url('sam_lausanne_night_green.jpg') no-repeat center;
      background-size: cover;
      background-position: top;
    }

    a {
      color: #85ff85;

      &:hover {
        color: #27ae60;
      }
    }
  }

  &#contact {
    background-color: rgb(46, 204, 113);

    .selected {
      border-bottom: thick solid rgb(47, 255, 162);
    }

    .content {
      background: url('cathedral_lausanne_night_green.jpg') no-repeat center;
      background-size: cover;
      background-position: top;

      li {
        list-style: none;
        margin-bottom: 10px;
      }

      a {
        color: #9EF0A4;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 1.4em;
        margin-left: 40px;

        &:hover {
          color: #2c3e50;
        }
      }
    }
  }
}
